*{
    margin: 0;
    padding: 0;
}
#root{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#top{
    position:absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 10px;
}
#top>.options{
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 4px 20px;
    box-shadow: 2px 2px 6px #E1E1E1;
}
.menu{
    background-color: #ececf4;
    border-radius: 4px;
}
.btn{
    border: none;
    padding: 4px 6px;
    background-color: transparent;
    cursor: pointer;
    font-size: 23px !important;
}
.btns{
   border: none;
   background-color: #ececf4;
   font-size: 23px !important;
   padding: 4px 6px;
   cursor: pointer;
   border-radius: 6px;
}
.btn:hover{
    background-color: #ECECF3;
    border-radius: 4px;
}
.active {
    background-color: #3a34eb;
    border-radius: 4px;
    color: white;
}

#bottom {
    position: absolute;
    z-index: 100;
    left: 20px;
    bottom: 20px;
}
#bottom > {
    background-color: #d1d1f2;
    padding: 4px 10px;
    border-radius: 5px;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 30px;
    gap: 15px;
    font-size: 23px !important;
}
.right-top{
    background-color: #6965db;
    border-radius: 6px;
}
.right-library{
    background-color: #ececf4;
    border-radius: 6px;
    gap: 2px;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    font-size: 4px !important;
}
.right-1{
    padding: 3px 6px !important;
    border: none;
 
    background-color: transparent;
    cursor: pointer;
   
}
#bottom-1{
    position:absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
   bottom: 5px;
}
.bottom-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px !important; */
    border: none;
    /* background-color: #ececf4; */
    font-size: 20px !important;
    padding: 3px 4px;
    border-radius: 5px;
}
.gap{
    padding-right: 10px !important;
    background-color: #ececf4;
    border-radius: 8px;
}
.margin{
    margin-left: 10px;
    background-color: #ececf4;
    border-radius: 8px;
}
.right-bottom{
    margin-right: 35px;
    gap:5px;
}

#canvas{
    /* background-color: aqua; */
    /* cursor: crosshair; */
}
.form {
    position: fixed;
    left: 10px;
    top: 30vh ;
    border: 1px solid #ededed;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgba (255, 255, 255, 1);
    /* box-shadow: 5px 5px 5px rgba gray;
    border: none; */
}

.hide {
    display: none;
}

@media (max-width:750px) {
    .btns{
        position: relative;
        left: 20px;
        bottom: 20px;
    }

}